.about {
    overflow-x: hidden;
}

.about-text {
    color: white;
    padding: 20px;
    margin: 0px 0px;
    border-bottom: 1px solid #1A1B26;
    cursor: pointer;
}

.roadmap {
    display: flex;
    align-items: stretch;
    margin: 20px;
    min-height: 100vh;
}

.milestones-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.milestone-description {
    margin: 0px 0px;
    font-weight: 400;
    font-size: 18px;
}

.milestone-tiktok-link {
    all: unset;
    font-size: 30px;
    cursor: pointer;
}

.milestone-tiktok-link::before, .milestone-tiktok-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    background: linear-gradient(90deg, white, transparent);
    transition: width 0.45s;
}

.milestone-tiktok-link:hover::before, .milestone-tiktok-link:hover::after {
    width: 100%;
}