.about {
    overflow-x: hidden;
    background: linear-gradient(270deg, #06B6D4, #F59E0B);
}

.about-text {
    color: white;
    padding: 20px;
    margin: 0px 0px;
    border-bottom: 2px solid #1A1B26;
}

.coding-roadmap {
    display: flex;
    margin: 20px;
}

.coding-roadmap-line {
    width: 5px;
    height: 820px;
    background-color: #1A1B26;
    margin-left: 50px;
}

.milestones-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.milestone-description {
    margin: 0px 0px;
    font-weight: 400;
}