.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(26, 27, 38, 0.99);
    position: sticky;
    top: 0;
}

.nav-btn {
    background: linear-gradient(135deg, #00AAFF, #F472B6);
    color: #1A1B26;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 12px 28px;
    margin: 12px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.6);
    white-space: nowrap;
}

.nav-btn:hover {
    background: linear-gradient(135deg, #F472B6, #00AAFF);
    transform: translateY(-2px);
    box-shadow: 0.75px 1px 3px rgba(255, 255, 255, 0.6);
    color: white;
}

.nav-btn:active {
    padding: 10px 23px;
    transform: scale(0.9);
    color: #1A1B26
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: black;
    color: white;
    overflow: hidden;
}

.footer-name {
    margin-left: 20px;
}

.footer-link {
    all: unset;
}

.footer-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.footer-icon {
    height: 50px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-tiktok-icon {
    height: 42px;
}

.footer-github-icon:hover {
    color: #9500FF;
}

.footer-facebook-icon:hover {
    color: #0866ff;
}

.footer-instagram-icon:hover {
    color: #DD2A7B;
}

.footer-tiktok-icon:hover {
    color: #ff0033;
}

.footer-icon:active {
    transform: scale(0.9);
}

@media (max-width: 703px) {
    .nav {
        justify-content: flex-start;
        overflow-x: scroll;
    }
}

@media (max-width: 425px) {
    .nav-btn {
        font-size: 10.7px;
        border-radius: 32px;
        padding: 8px 18px;
    }
}