.home {
    overflow-x: hidden;
    background: linear-gradient(90deg, #8B5CF6, #00FFC6);
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    color: #1A1B26;
}

.profile * {
    margin-bottom: 50px;
}

.profile-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.profile-right * {
    margin: 10px 50px 10px 0px;
}

.profile-pic {
    border-radius: 50%;
    height: 400px;
}

.professions {
    color: #1A1B26;
    white-space: nowrap;
}

.profile-left {
    background: linear-gradient(90deg, #1A1B26, transparent);
    margin: 0px 0px 10px 0px;
}

.profile-left * {
    margin-left: 20px;
}

.introduction {
    font-size: 60px;
    color: white;
}

.name {
    font-size: 120px;
    height: 50px;
}

.name::before {
    content: "";
    display: block;
    width: 1000px;
    height: 1px;
    background: linear-gradient(90deg, #1A1B26, transparent);
}

.name::after {
    content: "";
    display: block;
    width: 1000px;
    height: 1px;
    background: linear-gradient(90deg, #1A1B26, transparent);
}

.contact-me-btn {
    background: linear-gradient(135deg, #00FFC6, #8B5CF6);
    color: #1A1B26;
    font-size: 32px;
    border: none;
    border-radius: 100px;
    padding: 12px 28px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.6);
}

.contact-me-btn:hover {
    background: linear-gradient(135deg, #8B5CF6, #00FFC6);
    transform: translateY(-2px);
    box-shadow: 0.75px 1px 3px rgba(255, 255, 255, 0.6);
    color: white;
}

.contact-me-btn:active {
    padding: 10px 23px;
    transform: scale(0.9);
    color: #1A1B26;
}

.professions-text-container {
    background: #E5E5E5;
    padding: 20px;
    margin: 0px 0px;
}

.professions-text {
    color: #1A1B26;
}

@media (max-width: 1470px) {
    .profile {
        flex-direction: row;
        justify-content: space-around;
    }
    .profile-right {
        flex-direction: column;
    }
    .profile-right * {
        margin: 10px 0px 0px 20px;
    }
    .profile-pic {
        height: 550px;
        margin: 0px;
    }
    .professions {
        font-size: 40px;
        margin: 0px;
        margin-top: 20px;
    }
    .profile-left {
        margin-bottom: 0px;
        width: 100vw;
    }
}

@media (max-width: 710px) {
    .profile-pic {
        height: 280px;
    }
    .professions {
        font-size: 28px;
    }
    .introduction {
        font-size: 50px;
    }
    .name {
        font-size: 100px;
    }
}

@media (max-width: 595px) {
    .introduction {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .name {
        font-size: 60px;
    }
    .contact-me-btn {
        font-size: 24px;
        border-radius: 75px;
        padding: 8px 21px;
        margin-left: 10px;
    }
    .professions-text {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .profile-right {
        margin-bottom: 0;
    }
    .profile-pic {
        height: 200px;
    }
    .professions {
        font-size: 22px;
    }
    .professions-text-container {
        padding: 10px;
    }
    .professions-text {
        font-size: 14px;
    }
    .introduction {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .name {
        font-size: 50px;
    }
    .contact-me-btn {
        font-size: 16px;
        border-radius: 50px;
        padding: 5.3px 14px;
        margin-left: 6.6px;
    }
}